<app-header
  (onClick)="openModal()"
  title="Tipos de veiculo"
  buttonLabel="Adicionar"
></app-header>
<div *ngIf="types.length > 0" class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let type of types">
        <td>{{ type.name }}</td>
        <td>{{ type.price }}</td>
        <td class="justify-center">
          <button class="btn-ghost" (click)="openModalEdit(type)">
            Editar
          </button>
          <button class="btn-ghost" (click)="openModalDelete(type)">
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
