<app-header
  (onClick)="openModal()"
  title="Veículos estacionados"
  buttonLabel="Adicionar"
></app-header>
<div *ngIf="vehiclesParked.length > 0" class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Nome do cliente</th>
        <th>Modelo</th>
        <th>Placa</th>
        <th>Tipo</th>
        <th>Dia de entrada</th>
        <th>Horário de entrada</th>
        <th>Valor atual</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehiclesParked">
        <td>{{ vehicle.client.name }}</td>
        <td>{{ vehicle.vehicle.name }}</td>
        <td>{{ vehicle.vehicle.licensePlate }}</td>
        <td>{{ vehicle.vehicle.type.name }}</td>
        <td>
          {{ getBeginDate(vehicle.begin) }}
        </td>
        <td>{{ getBeginHour(vehicle.begin) }}</td>
        <td>{{ getPricing(vehicle.begin, vehicle.vehicle.type.price) }}</td>
        <td>
          <button class="btn-ghost" (click)="exitVehicle(vehicle)">
            Saída
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
