<div class="custom-modal">
  <header class="custom-modal-header">
    <h5>Tipo de veículo</h5>
  </header>

  <main class="custom-modal-body">
    <h1>Adicionar</h1>

    <form [formGroup]="form">
      <fieldset [class.hasError]="name.touched && name.errors">
        <label class="label">Nome</label>
        <input formControlName="name" class="input" />
        <ng-container *ngIf="name.errors">
          <span class="error" *ngIf="name.touched && name.hasError('required')">
            Nome é obrigatório
          </span>
        </ng-container>
      </fieldset>

      <fieldset [class.hasError]="price.touched && price.errors">
        <label class="label">Preço</label>
        <input formControlName="price" class="input" />
        <ng-container *ngIf="price.errors">
          <span
            class="error"
            *ngIf="price.touched && price.hasError('required')"
          >
            Preço é obrigatório
          </span>
        </ng-container>
      </fieldset>
    </form>
  </main>

  <footer class="custom-modal-footer">
    <button class="btn-secondary" (click)="closeModal()">Cancelar</button>
    <button class="btn-primary" (click)="createType()">Confirmar</button>
  </footer>
</div>
